# Xcode
#
build/
DerivedData/
*.xcworkspace
xcuserdata/
*.xcuserstate
*.moved-aside
*.xcassets
*.playground/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/xcshareddata/.*

# Swift Package Manager
#
Packages/
.swiftpm/
.swift-version
Package.resolved
build/

# CocoaPods
#
Pods/
Podfile.lock
*.xcscmblueprint

# Carthage
#
Carthage/Build/

# Accio dependency management
/.accio/

# fastlane
#
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md

# Code Injection
#
ci/

# Firebase
#
GoogleService-Info.plist
Keys.plist

# Other
#
*.DS_Store
*.env
*.key
*.pem
*.crt
*.der
*.sublime-workspace
*.xcsettings

# IDE preferences
#
.idea/
.vscode/
